In [13]:
# 1. With a given integral number n, write a program to generate a dictionary that contains (i, i x i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.


total_number = int(input('Enter a number of key-paired value you want : '))
dictionary = {}
for numb in range(1,total_number+1):
    dictionary[numb]=numb*numb
print(dictionary)

Enter a number of key-paired value you want : 6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [12]:
# 2. Write a python program to interchange first and last elements in a list    

list1 = [12, 35, 9, 56, 24]
temp = list1[0]
list1[0]=list1[-1]
list1[-1]=temp
print(list1)

[24, 35, 9, 56, 12]

In [14]:
# 3. Write a program to swap two elements in a list
#  List = [23, 65, 19, 90], pos1 = 0, pos2 = 2

list1 = [23, 65, 19, 90]
pos1 = 0
pos2 = 2

list1[pos1], list1[pos2] = list1[pos2], list1[pos1]
print(list1)

[19, 65, 23, 90]

In [15]:
# 4. What is the result of “bag” > “apple”?

'bag'>'apple'
#True

True

In [16]:
# 5. What is the result of not(True or False)

not( True or False )
#False

False

In [20]:
# 6. Write the program to output following pattern

for i in range (1,6):
    print(str(i)*i)

# Output :
# 1
# 22
# 333
# 4444
# 55555

1
22
333
4444
55555

In [25]:
# 7.
row = ''
for i in range (1,6):
    row = row + str(i)
    print(row)
    
# Output:
# 1
# 12
# 123
# 1234
# 12345

1
12
123
1234
12345

In [27]:
# 8.
for i in range(5):
    print('5'*(5-i))
    
    
# Output :
# 55555
# 5555
# 555
# 55
# 5

55555
5555
555
55
5

In [28]:
# 9. Write a for loop which print "Hello!, " plus each name in the list. i.e.: "Hello!, Sam"

lst=["Sam", "Lisa", "Micha", "Dave", "Wyatt", "Emma", "Sage"]
for name in lst:
    print('Hello!, ',name)
    
    
#Output :
# Hello!,  Sam
# Hello!,  Lisa
# Hello!,  Micha
# Hello!,  Dave
# Hello!,  Wyatt
# Hello!,  Emma
# Hello!,  Sage

Hello!,  Sam
Hello!,  Lisa
Hello!,  Micha
Hello!,  Dave
Hello!,  Wyatt
Hello!,  Emma
Hello!,  Sage

In [30]:
#10. Count the number of characters present in the string using for loop:

string1 = 'Python Programming'
num = 0
for i in string1:
    num += 1
print(num)
print(len(string1))

#Output
# 18
# 18

18
18

In [31]:
# 11. Write a for loop which appends the square of each number to the new list.

number = 8
list1=[]
for n in range(1,number+1):
    list1.append(n*n)
print(list1)

#Output :
#[1, 4, 9, 16, 25, 36, 49, 64]

[1, 4, 9, 16, 25, 36, 49, 64]

In [32]:
# Or
list2 = [1, 4, 9, 16, 25, 36, 49, 64]
list3 = []
for i in list2:
    list3.append(i*i)
print(list3)

[1, 16, 81, 256, 625, 1296, 2401, 4096]