In [1]:
!python -m pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\rajanadhikari\anaconda3\lib\site-packages (8.0.21)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\rajanadhikari\anaconda3\lib\site-packages (from mysql-connector-python) (3.12.2)
Requirement already satisfied: setuptools in c:\users\rajanadhikari\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (45.2.0.post20200210)
Requirement already satisfied: six>=1.9 in c:\users\rajanadhikari\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.14.0)

In [2]:
import mysql.connector

In [3]:
connection = mysql.connector.connect(
     host="localhost"
    ,user="root"
    ,password=""
    ,database="school_db"
)

if(connection):
    print("Connection to the database has been successful")

Connection to the database has been successful

In [4]:
dbcursor = connection.cursor()

#Drop table if exists
dbcursor.execute("DROP TABLE students")

In [5]:
# Create table students
dbcursor.execute("CREATE TABLE students (name VARCHAR(255), age int)")

In [6]:
#Insert into table
dbcursor.execute("INSERT INTO students VALUES('Ankit', 21)")

#Commit over the connection
connection.commit()

In [7]:
# Multiple line of insert into table
dbcursor.execute("INSERT INTO students VALUES('Salon', 21)")
dbcursor.execute("INSERT INTO students VALUES('Soni', 20)")
dbcursor.execute("INSERT INTO students VALUES('Manish', 21)")
dbcursor.execute("INSERT INTO students VALUES('Shakti', 22)")
dbcursor.execute("INSERT INTO students VALUES('Anu', 19)")
dbcursor.execute("INSERT INTO students VALUES('Dinkar', 20)")
dbcursor.execute("INSERT INTO students VALUES('Sahil', 21)")

#Commit over the connection
connection.commit()

In [10]:
sql = "SELECT * FROM students"

dbcursor.execute(sql)

for record in dbcursor.fetchall():
    print(record)

('Ankit', 21)
('Salon', 21)
('Soni', 20)
('Manish', 21)
('Shakti', 22)
('Anu', 19)
('Dinkar', 20)
('Sahil', 21)

In [11]:
for row in record:
    print("\n" )
    print("name:", row[0])
    print("age:", row[1])

name: S
age: a

TypeError: 'int' object is not subscriptable